<% layout('layouts/boilerplate')%>
<div class="container mt-4">
  <div class="row offset-1 ms-md-5 my-4 ">
    <div class="col-lg-2 col-sm-3 col-4 ">
      <img
        src="<%= user.image %> "
        alt=""
        class="img-fluid rounded"
        style="height: 10rem"
      />
    </div>
    <div class="col-lg-9 col-sm-8 col-7">
      <h1><%= user.username %></h1>
      <p><%= user.location %></p>

      <a
        class="btn btn-dark btn-block custom_button"
        id="viewBtn"
        href="/user/<%= user._id %>/reviews  "
        >View reviews
      </a>
    </div>
  </div>

  <ul>
    <div class="row d-flex justify-content-center ">
      <% for(let plant of plants){ %>

      <div class="col-md-4 ">
        <div
          class="card_custom card h-300 mb-3 d-inline d-block hover-shadow m-3"
        >
          <a href="/plants/<%= plant._id %>" class="text-decoration-none">
            <img
              class="card-img-top img-fluid"
              alt=""
              src="<%= plant.image %> "
            />

            <div class="card-body text-dark">
              <h5 class="card-title"><%=plant.title%></h5>
              <p class="card-text">
                <small class="text-muted"> <%= plant.location %> </small>
              </p>
              <p class="card-text">
                <small class="fw-bolder">$ <%= plant.price %> </small>
              </p>
            </div>
          </a>
        </div>
      </div>

      <% } %>
    </div>
  </ul>
</div>
