<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Edit Plant</h1>
  <div class="col-6 offset-3">
    <form
      action="/plants/<%=plant._id%>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="plant[title]"
          value="<%=plant.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="plant[location]"
          value="<%=plant.location %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="plant[image]"
          value="<%=plant.image %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Plant Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="plant[price]"
            value="<%=plant.price %>"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="plant[description]"
          required
        >
<%= plant.description%></textarea
        >
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/plants/<%= plant._id%>">Back To Campground</a>
  </div>
</div>
