<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="mb-3">
        <img src="<%= plant.image%>" class="img-fluid" alt="..." />
      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <p class="text-muted">Location: <%= plant.location%></p>
      <div class="d-flex mb-3">
        <div class="col-6">
          <h1 class="fw-bold text-uppercase"><%= plant.title%></h1>
        </div>
        <div class="col-6 d-flex justify-content-end pe-3">
          <h1 class="text-dark fs-2">$<%= plant.price%></h1>
        </div>
      </div>

      <p class="text-muted mt-4"><%= plant.description%></p>

      <p class="">
        Submitted by:<a
          href="/user/<%= plant.author._id %> "
          class="text-dark ms-3"
        >
          <%= plant.author.username%>
        </a>
      </p>

      <div class="mx-auto mt-5 d-flex gap-2 justify-content-between">
        <% if(currentUser) {%>
        <div class="col-6">
          <form
            action="/user/<%= currentUser._id%>/cart/<%= plant.id %>  "
            method="POST"
          >
            <button class="btn btn-dark custom_button w-100">
              ADD TO CART
            </button>
          </form>
          <div class="row mt-3">
            <% if( currentUser && plant.author.equals(currentUser._id)) {%>
            <div class="col-6">
              <a
                class="btn btn-outline-dark w-100 login_button "
                href="/plants/<%=plant._id%>/edit"
                >Edit</a
              >
            </div>
            <div class="col-6">
              <form
                class=""
                action="/plants/<%=plant._id%>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-outline-dark w-100 login_button">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</div>
